/* 전체 페이지 배경을 베이지색으로 설정 */
body {
    background-color: rgb(255, 255, 247); /* 배경색 설정 */
    margin: 0;        
    font-family: Arial, sans-serif; /* 글꼴 설정 */
    font-family: "Gaegu", "Nanum Pen Script", serif;    
    font-weight: 300;
    font-size: 17px;    
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 */
    padding: 0;    
}
  
/* 중앙에 배치된 콘텐츠 */
.container {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    align-items: center; /*수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    width: 100%;
    max-width: 480px; /* 최대 너비 600px */
    padding: 20px;
    margin-top: 60px;
    box-sizing: border-box;
    position: relative;
}

/* 입력창을 감싸는 div */
.task-container {
    display: flex;
    flex-direction:column;
    align-items: center; /* 수평 중앙 정렬 */
    width: 100%;
    margin-bottom: 10px;
    position:sticky;
}
.date-container {
    display: flex;
    flex-direction:row;
    align-items: center; /* 수평 중앙 정렬 */
    width: 100%;
    max-width: 295px;    
    margin-bottom: 10px;
    position:sticky;
}
.button-container{
    display: flex;
    flex-direction:row;
    position:sticky;    
}

/* 각 입력창 스타일 */
#task-input,
#date-input,
#priority-input {
    width: 100%;
    max-width: 270px; /* 최대 너비 설정 */
    height: 35px;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    background-color: rgb(255, 255, 236);
}
#priority-input{
    margin-left:5px;
}

/* 추가 버튼 스타일 */
#add-task-btn,
#edit-task-btn {
    padding: 15px 30px;
    font-size: 14px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px; /* 최대 너비 설정 */
}

/* 추가 버튼 색상 */
#add-task-btn {
    background-color: #6bd162;
    color: white;
}

#add-task-btn:hover {
    background-color: #45a049;
}

/* 편집 버튼 색상 */
#edit-task-btn {
    background-color: #f8b966;
    color: white;
}

#edit-task-btn:hover {
    background-color: #dfc011;
}

/* 삭제 버튼 스타일 */
button.delete-btn {
    background-color: #ffab91;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px 10px;
}

/* 수정 버튼 스타일 */
button.edit-btn {
    background-color: #90caf9;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 10px;
}

/* 삭제 버튼에 마우스를 올렸을 때 스타일 */
button.delete-btn:hover {
    background-color: #f87750;
}

/* 수정 버튼에 마우스를 올렸을 때 스타일 */
button.edit-btn:hover {
    background-color: #57abf0;
}

/* 할 일 목록 스타일 */
ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
}

/* 할 일 항목 스타일 */
li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    /* background-color: #f1f1f1; */
    border-radius: 5px;
}

/* 체크박스 스타일 */
input.check {
    margin-right: 10px;
}
